---
import { Icon } from "astro-icon/components";
---

<div class="title">
  <Icon name="dev" size="24" />
  <h2>Algunos Proyectos que He Desarrollado</h2>
</div>

<ul class="container">
  <li class="container-li">
    <div class="project-image">
      <img src="/asd.png" alt="asd" />
    </div>
    <div class="project-content">
      <p class="project-featured">Proyecto Desarrolado</p>
      <h3 class="project-title">Punto de venta Personalizado</h3>
      <div class="project-description">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolorum
          doloribus recus!
        </p>
      </div>
      <ul class="project-tech-list">
        <li>VsCode</li>
        <li>React</li>
        <li>Nestjs</li>
        <li>Postgresql</li>
      </ul>
      <div class="project-links">
        <a href=""><Icon name="github" size="24" /></a>
        <a href=""><Icon name="external-link" size="24" /></a>
      </div>
    </div>
  </li>
  <li class="container-li">
    <div class="project-image">
      <img src="/asd.png" alt="asd" />
    </div>
    <div class="project-content">
      <p class="project-featured">Proyecto Desarrolado</p>
      <h3 class="project-title">Punto de venta Personalizado</h3>
      <div class="project-description">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolorum
          doloribus recus!
        </p>
      </div>
      <ul class="project-tech-list">
        <li>VsCode</li>
        <li>React</li>
        <li>Nestjs</li>
        <li>Postgresql</li>
      </ul>
      <div class="project-links">
        <a href=""><Icon name="github" size="24" /></a>
        <a href=""><Icon name="external-link" size="24" /></a>
      </div>
    </div>
  </li>
  <li class="container-li">
    <div class="project-image">
      <img src="/asd.png" alt="asd" />
    </div>
    <div class="project-content">
      <p class="project-featured">Proyecto Desarrolado</p>
      <h3 class="project-title">Punto de venta Personalizado</h3>
      <div class="project-description">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolorum
          doloribus recus!
        </p>
      </div>
      <ul class="project-tech-list">
        <li>VsCode</li>
        <li>React</li>
        <li>Nestjs</li>
        <li>Postgresql</li>
      </ul>
      <div class="project-links">
        <a href=""><Icon name="github" size="24" /></a>
        <a href=""><Icon name="external-link" size="24" /></a>
      </div>
    </div>
  </li>
</ul>

<style>
  .title {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 5rem;
  }

  .container {
    /* margin-left: 5rem; */
    /* margin-right: 5rem; */
    display: flex;
    flex-direction: column;
  }

  .container-li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    &:not(:last-of-type) {
      margin-bottom: 5rem;
      /* @media (max-width: 768px) {
      margin-bottom: 70px;
    }

    @media (max-width: 480px) {
      margin-bottom: 30px;
    } */
    }

    @media (width > 640px) {
      flex-direction: row;
    }
  }
  .project-content {
    text-align: right;
    display: flex;
    flex-direction: column;
  }

  .project-featured {
    margin-bottom: 0.5rem;
    font-size: var(--fs-base);
    color: var(--pastel-green-200);
  }

  .project-title {
    margin-bottom: 1.5rem;
    font-size: var(--fs-md);
  }

  .project-description {
    padding: 2rem;
    border-radius: 0.3rem;
    background-color: rgb(31, 41, 55);
    font-size: var(--fs-base);
    margin-bottom: 1.5rem;
  }

  .project-tech-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    z-index: 2;
    gap: 1rem;
    margin-bottom: 1.5rem;

    & > li {
      font-size: var(--fs-base);
      white-space: nowrap;
      color: var(--foreground);
    }
  }

  .project-links {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .project-image {
    display: flex;
  }

  img {
    border: 2px solid rgb(31, 41, 55);
    border-radius: 1rem;
    width: 700px;
    object-fit: cover;
    transition: transform 200ms;

    &:hover {
      transform: scale(1.01);
      cursor: pointer;
    }
  }
</style>
