---
import { Icon } from "astro-icon/components";
---

<div class="title">
  <Icon name="dev" size="24" />
  <h2>Algunos Proyectos que He Desarrollado</h2>
</div>

<ul class="container">
  <li class="container-li">
    <div class="project-content">
      <div>
        <p class="project-featured">Proyecto Desarrolado</p>
        <h3 class="project-title">Punto de venta Personalizado</h3>
        <div class="project-description">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolorum doloribus recus!</p>
        </div>
        <ul class="project-tech-list">
          <li>VsCode</li>
          <li>React</li>
          <li>Nestjs</li>
          <li>Postgresql</li>
        </ul>
        <div class="project-links">
          <Icon name="github" size="20" />
          <Icon name="external-link" size="20" />
        </div>
      </div>
    </div>
    <div class="project-image">
      <img src="/asd.png" alt="asd">
    </div>
  </li>
</ul>

<style>
  .title {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  .container {
  }

  .container-li {
    position: relative;
    display: grid;
    grid-gap: 10px;

    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  .project-content {
    grid-column: 7 / -1;
    text-align: right;

    @media (max-width: 1080px) {
      grid-column: 5 / -1;
    }
  }

  .project-featured{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h3{
    margin-bottom: 1rem;
    font-size: var(--fs-md);
  }

  .project-tech-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0 10px;
    padding: 0;
    list-style: none;

    &>li {
      margin: 0 20px 5px 0;
      color: var(--light-slate);
      font-family: var(--font-mono);
      font-size: var(--fz-xs);
      white-space: nowrap;
    }
  }

  .project-links {
    justify-content: flex-end;
  }

  .project-image {
    grid-column: 1 / 8;

    @media (max-width: 768px) {
      grid-column: 1 / -1;
    }
  }

  .project-description {
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 0.3rem;
    background-color: rgb(32 73 30 / 0.5);
    color: var(--light-slate);
    font-size: var(--fz-lg);


    strong {
      color: var(--white);
      font-weight: normal;
    }
  }

  img{
    width: 500px;
  }
</style>
