<footer>
  <div>
    © 2024 Desarrollado por
    <a href="https://www.linkedin.com/in/stephanofer/">@stephanofer</a>
  </div>
</footer>

<style>
  footer {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: var(--fs-base);
    color: var(--foreground);

    & a {
      color: var(--resalt);
    }
  }
</style>
