---
const {id} = Astro.props
---
<section id={id}>
    <slot/>
</section>

<style>

    section{
        /* width: 100%; */
        /* display: flex; */
        /* flex-direction: column; */
    }
</style>