---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<'a'>{}

const { target = '_blank', rel = 'noopener noreferrer',role = "link", ...props } = Astro.props;
---

<a
  {...props}
  target={target}
  rel={rel}
  role={role}
  class="social-pill"
>
  <slot />
</a>

<style>
  a {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;

    border: 2px solid rgb(32, 41, 56);

    border-radius: 0.3rem;
    padding: 0.5rem;
    cursor: pointer;
  }
</style>
